/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}
.root1 {
     -fx-background-image: url("imagenfondo1.jpg");
}

.button1{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
#font-button {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.button2{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}
.label {
    -fx-font-size: 36px;
    -fx-text-fill: #F0F0EA;
    -fx-font-family: "Calibri";
    -fx-text-fill: linear-gradient(rgb(236, 236, 255),rgb(236, 236, 255));
}
.label2{
    -fx-font-size: 15px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-padding: 2;
    -fx-text-fill: linear-gradient(rgb(236, 236, 255),rgb(236, 236, 255));
    
}
.region{
    -fx-background-color: #F0F0EA;
    -fx-border-color: #0000ff;
}

.checkbox {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}